*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

/* Particle background */
#particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
}

/* Main */
.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

h1{
    font-size: 4rem;
    margin-bottom: 20px;
}

/* Time Box */
.timebox{
    display: flex;
    gap: 60px;
}

.time{
    text-align: center;
}

/* Animated Numbers */
.time h2{
    font-size: 5rem;
    font-weight: 100;
    transition: transform 0.3s ease, color 0.3s ease;
}

.time h2:hover{
    transform: scale(1.2);
    color: #00ffff;
}